<div id="<%= dom_id holiday %>">
  <div>
    <strong>Date:</strong>
    <%= holiday.date %>
  </div>

  <div>
    <strong>Holiday type:</strong>
    <%= holiday.holiday_type %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= holiday.name %>
  </div>

  <div>
    <strong>Applies to:</strong>
    <%= holiday.applies_to %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= holiday.notes %>
  </div>

</div>
