<div id="<%= dom_id employee %>">
  <div>
    <strong>Name:</strong>
    <%= employee.name %>
  </div>

  <div>
    <strong>Person:</strong>
    <%= employee.person_id %>
  </div>

  <div>
    <strong>Company:</strong>
    <%= employee.company %>
  </div>

  <div>
    <strong>Status of employment:</strong>
    <%= employee.status_of_employment %>
  </div>

  <div>
    <strong>Schedule:</strong>
    <%= employee.schedule %>
  </div>

  <div>
    <strong>Basic rate:</strong>
    <%= employee.basic_rate %>
  </div>

  <div>
    <strong>Allowance per day:</strong>
    <%= employee.allowance_per_day %>
  </div>

  <div>
    <strong>Landbank atm:</strong>
    <%= employee.landbank_atm %>
  </div>

  <div>
    <strong>Shift start:</strong>
    <%= employee.shift_start %>
  </div>

  <div>
    <strong>Shift end:</strong>
    <%= employee.shift_end %>
  </div>

  <div>
    <strong>Break start:</strong>
    <%= employee.break_start %>
  </div>

  <div>
    <strong>Break end:</strong>
    <%= employee.break_end %>
  </div>

</div>
