<div id="<%= dom_id daily_time_record %>">
  <div>
    <strong>Employee:</strong>
    <%= daily_time_record.employee_id %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= daily_time_record.date %>
  </div>

  <div>
    <strong>Clock in:</strong>
    <%= daily_time_record.clock_in %>
  </div>

  <div>
    <strong>Clock out:</strong>
    <%= daily_time_record.clock_out %>
  </div>

  <div>
    <strong>Night diff minutes:</strong>
    <%= daily_time_record.night_diff_minutes %>
  </div>

  <div>
    <strong>Overtime minutes:</strong>
    <%= daily_time_record.overtime_minutes %>
  </div>

  <div>
    <strong>Abnormal situation:</strong>
    <%= daily_time_record.abnormal_situation %>
  </div>

</div>
