<h1>Daily Time Record</h1>

<p>
  <strong>Employee:</strong> <%= @daily_time_record.employee.name %> (<%= @daily_time_record.employee.person_id %>)<br>
  <strong>Date:</strong> <%= @daily_time_record.date %><br>
  <strong>Clock In:</strong> <%= @daily_time_record.clock_in.strftime("%I:%M %p") if @daily_time_record.clock_in %><br>
  <strong>Clock Out:</strong> <%= @daily_time_record.clock_out.strftime("%I:%M %p") if @daily_time_record.clock_out %><br>
  <strong>Night Diff (min):</strong> <%= @daily_time_record.night_diff_minutes || 0 %><br>
  <strong>Overtime (min):</strong> <%= @daily_time_record.overtime_minutes || 0 %><br>
  <strong>Abnormal Situation:</strong> <%= @daily_time_record.abnormal_situation %>
</p>

<div class="d-flex gap-2">
  <%= link_to "Edit", edit_daily_time_record_path(@daily_time_record), class: "btn btn-warning" %>
  <%= link_to "Back", daily_time_records_path, class: "btn btn-secondary" %>
</div>
