<p style="color: green"><%= notice %></p>

<%= render @daily_time_record %>

<div>
  <%= link_to "Edit this daily time record", edit_daily_time_record_path(@daily_time_record) %> |
  <%= link_to "Back to daily time records", daily_time_records_path %>

  <%= button_to "Destroy this daily time record", @daily_time_record, method: :delete %>
</div>
