<div id="<%= dom_id gov_deduction_bracket %>">
  <div>
    <strong>Amount:</strong>
    <%= gov_deduction_bracket.amount %>
  </div>

  <div>
    <strong>Deduction type:</strong>
    <%= gov_deduction_bracket.deduction_type %>
  </div>

  <div>
    <strong>Range max:</strong>
    <%= gov_deduction_bracket.range_max %>
  </div>

  <div>
    <strong>Range min:</strong>
    <%= gov_deduction_bracket.range_min %>
  </div>

</div>
