<div id="<%= dom_id shift %>">
  <div>
    <strong>Name:</strong>
    <%= shift.name %>
  </div>

  <div>
    <strong>Shift start:</strong>
    <%= shift.shift_start %>
  </div>

  <div>
    <strong>Shift end:</strong>
    <%= shift.shift_end %>
  </div>

  <div>
    <strong>Break start:</strong>
    <%= shift.break_start %>
  </div>

  <div>
    <strong>Break end:</strong>
    <%= shift.break_end %>
  </div>

</div>
