<div id="<%= dom_id pay_multiplier %>">
  <div>
    <strong>Code:</strong>
    <%= pay_multiplier.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= pay_multiplier.name %>
  </div>

  <div>
    <strong>Holiday type:</strong>
    <%= pay_multiplier.holiday_type %>
  </div>

  <div>
    <strong>Rest day:</strong>
    <%= pay_multiplier.rest_day %>
  </div>

  <div>
    <strong>Overtime:</strong>
    <%= pay_multiplier.overtime %>
  </div>

  <div>
    <strong>Base multiplier:</strong>
    <%= pay_multiplier.base_multiplier %>
  </div>

</div>
